*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.table {
    height: 320px;
    width: 456px;
    float: left;
    margin-left: 200px;
    line-height:-2px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    color:blue;
    padding-left: 10px;
    font-size: 19px;


    
    
    
}
.table2 {
     height: 320px;
    float: right;
   margin-right: 149px;
   line-height:-2px;
   width: 456px;
   border-top: 2px solid red;
   border-left: 2px solid red;
   border-right: 2px solid red;
   padding-left: 10px;
   font-size: 19px;
   color:blue;


    
}
.div1 {
    float: left;
    margin-left: 230px;
    color:blue;

   
}
.div2 {
    float: right;
   margin-right: 240px;
   color:blue;

}
.course{
    float: left;
    height: 300px;
    width: 404px;
    margin-left: 200px;
    color:blue;

   
}
.course1{
    float: right;
    height: 300px;
    width: 404px;
    margin-right:201px;
    color:blue;

   
}
input{
    border: none;
    font-size: 16px;
}
tr{
    border: none;
}


.foot{
    border: 2px solid red;
    border-top: none;
    float: left;
    width: 456px;
    margin-left: 200px;
    padding-left: 10px;
    margin-top: -175px;
    font-size: 18px;
    color:blue;

    
}
 


.foot1{
    border: 2px solid red;
    border-top: none;
    margin-left: 89px;
    width: 456px;
    color:blue;

  
    float: right;
    padding-left: 10px;
    margin-top: -183px;
    margin-right: 149px;
    font-size: 18px;
  
}

.pay{
    text-align: center;
    width: 102px;
    font-size: 15px;
    color:blue;

}
#date{
    width:115px;
    text-align: center;
    font-size: 15px;
    color:blue;

}
h6{
    font-size: 20px;
}
h5{
    margin-left: 330px;
    line-height: 5px;
    margin-bottom: 3px;
    margin-top: 15px;
}
.span{
    font-size: 15px;
}

.down{
    width: 100%;
}
 

#six{
    width: 10px;
    height: 15px;
}
#six1{
    width: 10px;
    height: 15px;
}


#word{
    width: 382px;
    height: 30px;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    color:blue;


   
}
#word1{
    width: 382px;
    height: 30px;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    color:blue;

    
    
}
h2{
    font-size: 10px;
}
hr{
    border-color: red;
}
.money{
    margin-top:-16px;
}
#prin{
   
    margin-left: 350px;
    margin-top:20px;
    margin-bottom:50px;
    
}
#name{
    width: 290px;
}
#name1{
    width: 290px;
}
